<ion-card>
  <ion-card-header>
    <div class="center"><ion-card-title>Comentarios</ion-card-title></div>
  </ion-card-header>

  <ion-list *ngIf="comments?.length">
    <!-- <ion-button>Eliminar</ion-button> -->
    <ion-item *ngFor="let comment of comments">
      <!-- <ion-thumbnail slot="start">
        <img [src]="comment.authorAvatarURL" />
      </ion-thumbnail> -->
      <ion-label text-wrap>
        <h2>{{ comment.authorNick }}</h2>
        <p>{{ comment.content }}</p>
        <!-- <p>ID: {{ comment._id }}</p> -->
        <ion-button
          *ngIf="
            comment.authorId == currentUser.id || roles?.includes('ROLE_ADMIN')
          "
          color="danger"
          (click)="deleteComment(comment._id)"
          ><ion-icon name="trash-outline"></ion-icon
        ></ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="nocomments" *ngIf="!comments || comments.length === 0">
    <p>No hay comentarios.</p>
  </div>
</ion-card>
