<ion-header>
  <ion-toolbar>
    <ion-title>Eventos inscritos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content *ngIf="events.length > 0; else noEventsMessage">
    <ion-card *ngFor="let event of events">
      <ion-slides>
        <!-- Verifica si hay imágenes de la ruta del evento -->
        <ion-slide *ngFor="let imageURL of event.ruta?.images">
          <div class="image-container">
            <img class="img" src="{{ imageURL }}" />
          </div>
        </ion-slide>

        <!-- Verifica si no hay imágenes de la ruta del evento -->
        <ng-container *ngIf="!event.ruta?.images">
          <ion-slide>
            <div color="warning" class="cancelled-event">Evento cancelado</div>
          </ion-slide>
        </ng-container>
      </ion-slides>

      <ion-card-header *ngIf="event.ruta" class="center">{{
        event?.ruta?.name
      }}</ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-icon name="navigate-circle-outline" class="icon"></ion-icon>
          {{ event.ubicacion }}
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline" class="icon"></ion-icon>
          {{ event.fecha | date : "dd/MM/yyyy" }}
        </ion-item>
        <ion-item>
          <ion-icon class="icon" name="person-circle" class="icon"></ion-icon>
          {{ event?.participantes?.length }} / {{ event?.maxParticipantes }}
        </ion-item>

        <div class="buttons">
          <ion-button
            style="width: 100%"
            (click)="closeModal(); setIdEvent(event._id); checkEvent(event._id)"
          >
            <ion-label>Ir al Evento </ion-label>
          </ion-button>

          <!-- <ion-button
            color="warning"
            *ngIf="
              event.creador == currentUser?.id || roles?.includes('ROLE_ADMIN')
            "
            (click)="setIdEvent(event._id); showEventEditModal()"
          >
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>

          <ion-button
            color="danger"
            *ngIf="
              event.creador == currentUser?.id || roles?.includes('ROLE_ADMIN')
            "
            (click)="deleteEvent(event._id)"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button> -->
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ng-template #noEventsMessage>
    <div class="no-events-message">No estás inscrito a ningún evento.</div>
  </ng-template>
</ion-content>
