<ion-header>
  <ion-toolbar>
    <ion-title> Rutas favoritas </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Términos y Condiciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ol>
        <li>
          Uso Adecuado: Utiliza la aplicación de acuerdo con su propósito
          previsto y siguiendo todas las leyes y regulaciones aplicables. No
          utilices la aplicación para actividades ilegales, fraudulentas,
          dañinas o inapropiadas.
        </li>
        <li>
          Privacidad y Protección de Datos: Respeta la privacidad de los demás
          usuarios y no compartas información personal o sensible sin su
          consentimiento. Además, asegúrate de seguir nuestras políticas de
          privacidad y protección de datos establecidas para la aplicación.
        </li>
        <li>
          Contenido Apropiado: No publiques, compartas o envíes contenido
          ofensivo, difamatorio, obsceno, violento, discriminatorio o que viole
          los derechos de propiedad intelectual de terceros. No promociones
          contenido ilegal o no ético a través de la aplicación.
        </li>
        <li>
          Cuentas de Usuario: Crea una cuenta de usuario única y mantén tus
          credenciales de inicio de sesión seguras y confidenciales. No
          compartas tus credenciales con terceros ni permitas que otras personas
          accedan a tu cuenta sin autorización.
        </li>
        <li>
          Comportamiento Respetuoso: Trata a otros usuarios y miembros de la
          comunidad con respeto y cortesía. No acoses, amenaces, insultes o
          intimides a otros usuarios de la aplicación.
        </li>
        <li>
          Seguridad: No realices acciones que comprometan la seguridad de la
          aplicación, como intentar acceder a cuentas de otros usuarios,
          utilizar software malicioso o realizar ataques de piratería
          informática.
        </li>
        <li>
          Responsabilidad: Eres responsable de cualquier actividad realizada a
          través de tu cuenta de usuario. Utiliza la aplicación de manera
          responsable y ten en cuenta las consecuencias de tus acciones.
        </li>
        <li>
          Actualizaciones y Notificaciones: Mantente al tanto de las
          actualizaciones y notificaciones proporcionadas por la aplicación.
          Estas actualizaciones pueden contener mejoras de seguridad,
          correcciones de errores u otras modificaciones importantes.
        </li>
        <li>
          Reporte de Problemas: Si encuentras algún problema, error o contenido
          inapropiado en la aplicación, repórtalo de inmediato al equipo de
          soporte técnico para que puedan tomar las medidas necesarias.
        </li>
        <li>
          Cumplimiento de las Políticas: Acepta y cumple estas políticas de uso
          de la aplicación. El incumplimiento de estas políticas puede resultar
          en la suspensión o terminación de tu cuenta de usuario.
        </li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>
