<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reestablece tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        required
        [(ngModel)]="email"
        [ngModelOptions]="{standalone: true}"
      ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="danger"
          expand="block"
          (click)="resetPassword()"
          >Enviar</ion-button
        >
      </ion-col>
    </ion-row>
    <small class="ion-padding"> Introduce tu correo electronico. </small>
  </form>
</ion-content>
