<ion-header>
  <ion-toolbar>
    <ion-searchbar
      animated="true"
      placeholder="Buscar rutas..."
      [(ngModel)]="searchTerm"
    ></ion-searchbar>
    <ion-select placeholder="Dificultad" [(ngModel)]="selectedDifficulty">
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option value="Bajo">Bajo</ion-select-option>
      <ion-select-option value="Intermedio">Intermedio</ion-select-option>
      <ion-select-option value="Alto">Alto</ion-select-option>
    </ion-select>
    <ion-buttons slot="end">
      <ion-button (click)="searchRoutes()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card *ngFor="let ruta of routes">
  <ion-slides #slides>
    <ion-slide *ngFor="let imageURL of ruta.images">
      <div class="image-container">
        <button class="slide-button slide-button-left" (click)="prevSlide()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <img class="img" src="{{ imageURL }}" />
        <button class="slide-button slide-button-right" (click)="nextSlide()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-card-header>
    <ion-card-title>{{ ruta.name }}</ion-card-title>
    <ion-card-subtitle>Ubicación: {{ ruta.location }}</ion-card-subtitle>
    <ion-card-subtitle
      >Dificultad: {{ ruta.difficulty_level }}</ion-card-subtitle
    >
    <ion-card-subtitle
      >Distancia: {{ ruta.distance | number : ".0-0" }} km</ion-card-subtitle
    >
  </ion-card-header>

  <ion-card-content>
    <ion-button (click)="setIdRoute(ruta._id)" (click)="checkRoute(ruta._id)"
      ><ion-icon name="eye-outline"></ion-icon
    ></ion-button>

    <ion-button
      color="warning"
      *ngIf="ruta.author == profileUser?.id || roles?.includes('ROLE_ADMIN')"
      (click)="showRouteEditModal()"
      (click)="setIdRoute(ruta._id)"
      ><ion-icon name="create-outline"></ion-icon
    ></ion-button>
    <ion-button
      color="danger"
      *ngIf="ruta.author == profileUser?.id || roles?.includes('ROLE_ADMIN')"
      (click)="deleteRoute(ruta._id)"
      ><ion-icon name="trash-outline"></ion-icon
    ></ion-button>
    <ion-button (click)="openReport(ruta._id)">Reportar</ion-button>
    <ion-button (click)="toggleComment(ruta._id)">
      {{ commentStatus[ruta._id] ? "Ocultar" : "Comentar" }}
    </ion-button>
    <div id="comment" [hidden]="!commentStatus[ruta._id]">
      <app-input-comment [routeId]="ruta._id"></app-input-comment>
      <app-box-comments [routeId]="ruta._id"></app-box-comments>
    </div>
  </ion-card-content>
</ion-card>
