<!-- <ion-header>
  <ion-toolbar class="floating-toolbar">
    <ion-searchbar
      animated="true"
      placeholder="Buscar rutas..."
      [(ngModel)]="searchTerm"
    ></ion-searchbar
    ><ion-range
      [(ngModel)]="kmDistance"
      pin="true"
      snaps="true"
      min="0"
      max="200"
      step="1"
    >
      <ion-label slot="start">0 km</ion-label>
      <ion-label slot="end">200 km</ion-label>
    </ion-range>
    <ion-select placeholder="Dificultad" [(ngModel)]="selectedDifficulty">
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option value="Bajo">Bajo</ion-select-option>
      <ion-select-option value="Intermedio">Intermedio</ion-select-option>
      <ion-select-option value="Alto">Alto</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar class="floating-toolbar">
    <ion-searchbar
      animated="true"
      placeholder="Buscar rutas..."
      [(ngModel)]="searchTerm"
      (ionChange)="filterRoutes()"
    ></ion-searchbar
    ><ion-range
      [(ngModel)]="kmDistance"
      pin="true"
      snaps="true"
      min="0"
      max="200"
      step="1"
      (ionChange)="filterRoutes()"
    >
      <ion-label slot="start">0 km</ion-label>
      <ion-label slot="end">200 km</ion-label>
    </ion-range>
    <ion-select
      placeholder="Dificultad"
      [(ngModel)]="selectedDifficulty"
      (ionChange)="filterRoutes()"
    >
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option value="Bajo">Bajo</ion-select-option>
      <ion-select-option value="Intermedio">Intermedio</ion-select-option>
      <ion-select-option value="Alto">Alto</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-list style="margin-top: 130px">
  <ion-card
    *ngFor="
      let ruta of displayedRoutes
        | routesFilter : searchTerm
        | routesFilterLevel : selectedDifficulty
        | routeFilterDistance : kmDistance
    "
  >
    <ng-container *ngIf="ruta.images && ruta.images.length > 1">
      <ion-slides pager>
        <ion-slide *ngFor="let imageURL of ruta.images">
          <div class="image-container">
            <img class="img" src="{{ imageURL }}" />
          </div>
        </ion-slide>
      </ion-slides>
    </ng-container>

    <ng-container *ngIf="ruta.images && ruta.images.length <= 1">
      <div class="image-container">
        <img class="img single-image" src="{{ ruta.images[0] }}" />
      </div>
    </ng-container>

    <ion-card-header>
      <ion-card-title>
        <div class="titulo-centrado">
          <ng-container *ngIf="ruta.name.length <= 20; else longName">
            <h2>{{ ruta.name }}</h2>
          </ng-container>
          <ng-template #longName>
            <ion-label>
              <h2 class="titulo-completo">{{ ruta.name }}</h2>
            </ion-label>
          </ng-template>
        </div>
      </ion-card-title>

      <ion-item>
        <ion-label>
          <p>Ubicación</p>
          <h2>{{ ruta.location }}</h2>
        </ion-label>
        <!-- <ion-icon class="icon" name="stats-chart-outline"></ion-icon> -->
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Dificultad</p>
          <h2>{{ ruta.difficulty_level }}</h2>
        </ion-label>
        <ion-icon
          *ngIf="ruta.difficulty_level === 'Alto'"
          class="icon"
          name="skull-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="ruta.difficulty_level === 'Intermedio'"
          name="sad-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="ruta.difficulty_level === 'Bajo'"
          name="happy-outline"
        ></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Distancia</p>
          <h2>{{ ruta.distance | number : ".0-0" }} km</h2>
        </ion-label>
        <ion-icon class="icon" name="stats-chart-outline"></ion-icon>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <div class="buttons">
        <ion-button
          color="success"
          (click)="setIdRoute(ruta._id)"
          (click)="checkRoute(ruta._id)"
          ><ion-icon name="eye-outline"></ion-icon
        ></ion-button>

        <ion-button
          color="warning"
          *ngIf="
            ruta.author == profileUser?.id || roles?.includes('ROLE_ADMIN')
          "
          (click)="showRouteEditModal()"
          (click)="setIdRoute(ruta._id)"
          ><ion-icon name="create-outline"></ion-icon
        ></ion-button>

        <ion-button
          color="danger"
          (click)="setIdRoute(ruta._id)"
          (click)="openReport()"
          ><ion-icon name="alert-circle-outline"></ion-icon
        ></ion-button>
        <ion-button
          color="danger"
          *ngIf="
            ruta.author == profileUser?.id || roles?.includes('ROLE_ADMIN')
          "
          (click)="deleteRoute(ruta._id)"
          ><ion-icon name="trash-outline"></ion-icon
        ></ion-button>
      </div>
      <div class="buttons">
        <ion-button style="width: 100%" (click)="toggleComment(ruta._id)">
          {{
            commentStatus[ruta._id]
              ? "Ocultar comentarios"
              : "Abrir comentarios"
          }}
        </ion-button>
      </div>
      <div class="buttons">
        <ion-button
          style="width: 100%"
          color="warning"
          *ngIf="roles?.includes('ROLE_ADMIN')"
          (click)="openReportList(ruta._id)"
          >Revisar Reportes</ion-button
        >
      </div>
      <div id="comment" [hidden]="!commentStatus[ruta._id]">
        <app-input-comment [routeId]="ruta._id"></app-input-comment>
        <app-box-comments [routeId]="ruta._id"></app-box-comments>
      </div>
    </ion-card-content>
  </ion-card>
</ion-list>
<ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando más datos..."
  ></ion-infinite-scroll-content>
</ion-infinite-scroll>
