.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-container {
  width: 60%;
}

.img-container img {
  width: 100%;
  height: 125px;
}

.info-container {
  width: 40%;
  // border: 1px solid red;
  padding-left: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container h2 {
  font-size: small;
}

.info-container h4 {
  font-size: small;
}

.button-container {
  background-color: white;
  width: 80%;
  // border: 1px solid red;
}

.button-container button {
  color: red;
  background-color: white;
}

.center {
  text-align: center;
  font-size: x-large;
  // border: 1px solid red;
}

.image-container {
  width: 100%;
  padding-bottom: 75%; /* Establece una proporción de 4:3 para las imágenes */
  position: relative;
  overflow: hidden;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al contenedor sin deformarla */
}
