<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Recuerda: has tenido que añadir CUSTOM_SCHEMAS al app.module y a route.module para poder cargar el componente-->
  <input-comment-component></input-comment-component>
</ion-content>
<div id="map"></div>

<ion-button type="button" (click)="toggleIndicators()"
  >Mostrar / ocultar indicaciones</ion-button
>
<div id="indicators"></div>
