<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ruta</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="isFav ? removeFavorite(route._id) : addFavorite(route._id)"
      >
        <ion-icon [name]="isFav ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
      <ion-button (click)="shareViaSocialMedia()">
        <ion-icon name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div id="map"></div>
<ion-button type="button" (click)="toggleIndicators()"
  >Mostrar / ocultar indicaciones</ion-button
>
<div id="indicators"></div>
