<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- //Aqui al pulsar deberia redirigirnos a Inicio, no a inicio de registro -->
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card" *ngIf="profileUser">
    <ion-card-content>
      <ion-item class="img-container" lines="none">
        <ion-avatar>
          <img
            class="ion-avatar"
            *ngIf="profileUser?.imageURL?.length === 1; else defaultImage"
            [src]="profileUser?.imageURL[0]"
          />
          <ng-template #defaultImage>
            <img
              src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg"
            />
          </ng-template>
        </ion-avatar>
      </ion-item>

      <ion-title class="title">Información personal</ion-title>
      <ion-item>
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
        <ion-label class="info">{{ profileUser.nick }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline" class="icon"></ion-icon>
        <ion-label class="info">{{profileUser.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar-number-outline" class="icon"></ion-icon>
        <ion-label class="info">{{profileUser?.age}} años</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="information-circle-outline" class="icon"></ion-icon>
        <ion-label class="info">{{profileUser.description}}</ion-label>
      </ion-item>
    </ion-card-content>

    <ion-button expand="full" color="primary" (click)="editProfile()"
      >Editar perfil</ion-button
    >
    <ion-button expand="full" color="danger" (click)="confirmDelete()"
      >Eliminar cuenta</ion-button
    >
  </ion-card>
</ion-content>
