<ion-card *ngIf="profileUser">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="main/profile"
          text="Atrás"
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-avatar slot="end">
        <img
          *ngIf="profileUser.imageURL; else defaultImage"
          [src]="profileUser.imageURL"
        />
        <ng-template #defaultImage>
          <img src="../../../assets/icon/user (1).png" />
        </ng-template>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>Usuario:</ion-label>
      <ion-text>{{ profileUser.nick }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-text>{{ profileUser.email }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Edad:</ion-label>
      <ion-text>{{ profileUser.age }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Descripción:</ion-label>
      <ion-text>{{ profileUser.description }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Roles:</ion-label>
      <ion-text>{{ profileUser.roles.join(', ') }}</ion-text>
    </ion-item>
  </ion-card-content>
  <ion-button expand="full" color="primary" (click)="editProfile()"
    >Editar perfiles</ion-button
  >
  <ion-button expand="full" color="danger" (click)="confirmDelete()"
    >Eliminar cuenta</ion-button
  >
</ion-card>
