<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedPage">
      <ion-segment-button value="rutas"> Rutas </ion-segment-button>
      <ion-segment-button value="eventos"> Eventos </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <div *ngIf="selectedPage === 'rutas'">
      <!-- Contenido de la página de rutas -->
      <ion-fab
        vertical="bottom"
        horizontal="end"
        slot="fixed"
        style="position: fixed"
      >
        <ion-fab-button (click)="showRouteRegisterModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <app-route-list></app-route-list>
    </div>
    <div *ngIf="selectedPage === 'eventos'">
      <!-- Contenido de la página de eventos -->
      <ion-fab vertical="bottom" horizontal="end" style="position: fixed">
        <ion-fab-button (click)="showEventRegisterModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <app-event-list></app-event-list>
    </div>
  </ion-content>
</ion-content>
