.center {
  text-align: center;
  font-size: x-large;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  // border: 1px solid red;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // gap: 5px;
  padding: 10px;
}

.icon {
  font-size: 30px;
  margin-right: 5px;
}
