<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="searchEvents()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-card *ngFor="let event of events">
    <ion-card-header>
      <ion-slides>
        <ion-slide *ngFor="let imageURL of event.ruta?.images">
          <div class="image-container">
            <img class="img" src="{{ imageURL }}" />
          </div>
        </ion-slide>
      </ion-slides>
      <ion-card-title *ngIf="event.ruta" class="center">{{
        event?.ruta?.name
      }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-icon name="locate-outline" class="icon"></ion-icon>
        {{ event.ubicacion }}
      </ion-item>
      <ion-item>
        <ion-icon name="calendar-outline" class="icon"></ion-icon>
        {{ event.fecha | date : "dd/MM/yyyy" }}
      </ion-item>
      <ion-item>
        <ion-icon class="icon" name="person-circle" class="icon"></ion-icon>

        {{ event?.participantes?.length }} / {{ event?.maxParticipantes }}
      </ion-item>

      <div class="buttons">
        <ion-button (click)="setIdEvent(event._id); checkEvent(event._id)"
          ><ion-icon name="eye-outline"></ion-icon
        ></ion-button>

        <ion-button
          color="warning"
          *ngIf="
            event.creador == currentUser?.id || roles?.includes('ROLE_ADMIN')
          "
          (click)="setIdEvent(event._id); showEventEditModal()"
        >
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button
          color="danger"
          (click)="setIdEvent(event._id)"
          (click)="openReport()"
          ><ion-icon name="ban-outline"></ion-icon
        ></ion-button>
        <ion-button
          color="warning"
          *ngIf="roles?.includes('ROLE_ADMIN')"
          (click)="openReportList(event._id)"
          ><ion-icon name="receipt-outline"></ion-icon
        ></ion-button>
        <ion-button
          color="danger"
          *ngIf="
            event.creador == currentUser?.id || roles?.includes('ROLE_ADMIN')
          "
          (click)="deleteEvent(event._id)"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-list>
<ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando más datos..."
  ></ion-infinite-scroll-content>
</ion-infinite-scroll>
