<ion-header>
  <ion-toolbar class="floating-toolbar">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      placeholder="Buscar evento..."
    ></ion-searchbar>
    <ion-item>
      <ion-label>Fecha de inicio:</ion-label>
      <input
        type="date"
        name="trip-start"
        min="2023-01-01"
        max="2025-12-31"
        [(ngModel)]="startDate"
      />
    </ion-item>

    <ion-item>
      <ion-label>Fecha de fin:</ion-label>
      <input
        type="date"
        min="2023-01-01"
        max="2025-12-31"
        [(ngModel)]="endDate"
      />
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-list style="margin-top: 150px">
  <ion-card
    *ngFor="
      let event of displayedEvents
        | eventFilter : searchTerm
        | eventFilterDate : startDate : endDate
    "
  >
    <ng-container *ngIf="event.ruta?.images && event.ruta.images.length > 1">
      <ion-slides pager>
        <ion-slide *ngFor="let imageURL of event.ruta.images">
          <div class="image-container">
            <img class="img" src="{{ imageURL }}" />
          </div>
        </ion-slide>
      </ion-slides>
    </ng-container>

    <ng-container *ngIf="event.ruta?.images && event.ruta.images.length <= 1">
      <div class="image-container">
        <img class="img single-image" src="{{ event.ruta.images[0] }}" />
      </div>
    </ng-container>

    <ion-card-content *ngIf="event.ruta" class="center">
      <ion-card-title>
        <div class="titulo-centrado">
          <ng-container *ngIf="event.ruta.name.length <= 20; else longName">
            <h2>{{ event.ruta.name }}</h2>
          </ng-container>
          <ng-template #longName>
            <ion-label>
              <h2 class="titulo-completo">{{ event.ruta.name }}</h2>
            </ion-label>
          </ng-template>
        </div>
      </ion-card-title>

      <ion-item>
        <ion-label>
          <p>Ubicación</p>
          <h2 class="ubicacion-completa">{{ event.ubicacion }}</h2>
        </ion-label>
        <!-- <ion-icon class="icon" name="stats-chart-outline"></ion-icon> -->
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Fecha</p>
          <h2>{{ event.fecha | date : "dd/MM/yyyy" }}</h2>
        </ion-label>
        <ion-icon name="calendar-outline" class="icon"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Participantes</p>
          <h2>
            {{ event?.participantes?.length }} / {{ event?.maxParticipantes }}
          </h2>
        </ion-label>
        <ion-icon class="icon" name="people-circle-outline"></ion-icon>
      </ion-item>

      <div class="buttons">
        <ion-button
          color="success"
          (click)="setIdEvent(event._id); checkEvent(event._id)"
          ><ion-icon name="eye-outline"></ion-icon
        ></ion-button>

        <ion-button
          color="warning"
          *ngIf="
            event.creador == currentUser?.id || roles?.includes('ROLE_ADMIN')
          "
          (click)="setIdEvent(event._id); showEventEditModal()"
        >
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button
          color="danger"
          (click)="setIdEvent(event._id)"
          (click)="openReport()"
          ><ion-icon name="alert-circle-outline"></ion-icon
        ></ion-button>
        <ion-button
          color="warning"
          *ngIf="roles?.includes('ROLE_ADMIN')"
          (click)="openReportList(event._id)"
          ><ion-icon name="receipt-outline"></ion-icon
        ></ion-button>
        <ion-button
          color="danger"
          *ngIf="
            event.creador == currentUser?.id || roles?.includes('ROLE_ADMIN')
          "
          (click)="deleteEvent(event._id)"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-list>
<ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando más datos..."
  ></ion-infinite-scroll-content>
</ion-infinite-scroll>
