<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="currentEvent?.ruta?.imageURL" alt="Imagen de la ruta" />
    <ion-card-header>
      <ion-card-title> {{ currentEvent?.ruta?.name }} </ion-card-title>
      <ion-card-subtitle>
        {{ currentEvent?.ruta?.location }}
      </ion-card-subtitle>
      <ion-card-subtitle
        >Numero de participantes: {{ currentEvent?.participantes?.length }}/{{
        currentEvent?.maxParticipantes }}</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      <p>Descripción ruta: {{ currentEvent?.ruta?.description }}</p>
      <p>Fecha: {{ currentEvent?.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
      <p>Participantes:</p>
      <ion-list>
        <ion-item *ngFor="let participante of currentEvent?.participantes">
          <ion-label>{{ participante.nick }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <!-- <ion-button (click)="joinEvent()">Inscribirme</ion-button> -->
    <ion-button *ngIf="!assist" (click)="joinEvent()" color="success"
      >Apuntarse al evento</ion-button
    >
    <ion-button *ngIf="assist" (click)="leftEvent()" color="danger">
      Desapuntarse del evento
    </ion-button>
  </ion-card>
</ion-content>
