<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-slides>
      <ion-slide *ngFor="let imageURL of currentEvent?.ruta?.images">
        <div class="image-container">
          <img class="image" [src]="imageURL" alt="Imagen de la ruta" />
        </div>
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title class="title">
        {{ currentEvent?.ruta?.name }}
      </ion-card-title>
      <ion-item>
        <ion-icon name="navigate-circle-outline" class="icon"></ion-icon>
        {{ currentEvent?.ruta?.location }}
      </ion-item>
      <ion-item>
        <ion-icon class="icon" name="person-circle" class="icon"></ion-icon>

        {{ currentEvent?.participantes?.length }} / {{
        currentEvent?.maxParticipantes }}
      </ion-item>
      <ion-item>
        <ion-icon name="calendar-outline" class="icon"></ion-icon>

        {{ currentEvent?.fecha | date:'dd/MM/yyyy HH:mm' }}
      </ion-item>
      <ion-item>
        <span>{{ currentEvent?.ruta?.description }}</span>
      </ion-item>
    </ion-card-content>

    <ion-card>
      <ion-item lines="none" color="light" (click)="toggleParticipants()">
        <ion-label>Participantes</ion-label>
        <ion-icon name="chevron-up" *ngIf="showParticipants"></ion-icon>
        <ion-icon name="chevron-down" *ngIf="!showParticipants"></ion-icon>
      </ion-item>
      <ion-list *ngIf="showParticipants">
        <ion-item *ngFor="let participante of currentEvent?.participantes">
          <ion-label>{{ participante.nick }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-button
      expand="block"
      *ngIf="!assist && currentEvent && currentEvent.participantes && currentEvent.participantes.length < currentEvent.maxParticipantes"
      (click)="joinEvent()"
      color="success"
    >
      Apuntarse al evento
    </ion-button>

    <ion-button
      expand="block"
      *ngIf="assist"
      (click)="leftEvent()"
      color="danger"
    >
      Desapuntarse del evento
    </ion-button>
  </ion-card>
</ion-content>
