/* Oculta el input de tipo archivo */
input[type="file"] {
  display: none;
}

/* Estilo del icono */
ion-icon[name="cloud-upload"] {
  cursor: pointer;
  font-size: 24px;
}

/* Estilo del label */
label[for="file-upload"] {
  display: inline-block;
  cursor: pointer;
}

.terms-link {
  margin-top: 10px;
  font-size: 12px;
  white-space: normal;
  word-wrap: break-word;
  padding-left: 10px;
}
