<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="registerForm">
    <ion-item lines="full">
      <ion-label position="floating">Nick</ion-label>
      <ion-input type="text" formControlName="nick" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
      <div
        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
        style="color: red"
      >
        Formato incorrecto
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Repetir contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="rpassword"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" formControlName="age" required></ion-input>
      <div
        *ngIf="registerForm.get('age')?.value > 100 && registerForm.get('age')?.touched"
        class="alert alert-danger"
        style="color: red"
      >
        Demasiado mayor
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Breve descripción</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Imágen de perfil</ion-label>
      <label for="file-upload">
        <ion-icon name="images-outline"></ion-icon>
      </label>
      <input
        id="file-upload"
        type="file"
        (change)="onImageChange($event)"
        accept="image/*"
      />
    </ion-item>
    <ion-item>
      <ion-checkbox
        formControlName="terms"
        [(ngModel)]="termsAccepted"
      ></ion-checkbox>

      <ion-label class="terms-link"
        >Acepto los
        <a (click)="openTerms()">términos y condiciones de uso</a></ion-label
      >
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="danger"
          expand="block"
          (click)="register()"
          [disabled]="registerForm.invalid || !termsAccepted"
          >Registrarse</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
