<ion-header>
  <ion-toolbar>
    <ion-title> Registro de ruta </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="routeForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nombre de la ruta</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nivel de dificultad</ion-label>
      <ion-select formControlName="difficulty_level">
        <ion-select-option value="Bajo">Bajo</ion-select-option>
        <ion-select-option value="Intermedio">Intermedio</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Localidad</ion-label>
      <ion-input type="string" formControlName="location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Origen</ion-label>
      <ion-input
        [(ngModel)]="origin"
        (ionInput)="onSearchInput()"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
      <ion-list *ngIf="this.originPlaces">
        <ion-item
          *ngFor="let origin of origins"
          (click)="onPlaceSelect(origin)"
        >
          {{ origin.description }}
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Destino</ion-label>
      <ion-input
        [(ngModel)]="destination"
        (ionInput)="onSearchDestination()"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
      <ion-list *ngIf="this.destinationPlaces">
        <ion-item
          *ngFor="let destination of destinations"
          (click)="onDestinationSelect(destination)"
        >
          {{ destination.description }}
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-label>Imágenes</ion-label>
      <input
        type="file"
        multiple
        (change)="onImageChange($event)"
        accept="image/*"
      />
    </ion-item>
    <ion-button type="submit" expand="block">Registrar ruta</ion-button>
  </form>
</ion-content>
