.title {
  text-align: center;
  // text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.avatar {
  height: 150px;
  width: 150px;
  margin: auto;
}
