<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- //Aqui al pulsar deberia redirigirnos a Inicio, no a inicio de registro -->
      <!-- <ion-back-button defaultHref="/main"></ion-back-button> -->
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>
<!-- // Hacer la card del perfil un boton -->
<ion-content>
  <!-- <ion-item-divider></ion-item-divider> -->
  <ion-card (click)="openProfileOptions()">
    <ion-item *ngIf="profileUser">
      <ion-avatar slot="end">
        <img
          *ngIf="profileUser.imageURL; else defaultImage"
          src="{{profileUser.imageURL}}"
        />

        <ng-template #defaultImage>
          <img src="../../../assets/icon/user (1).png" />
        </ng-template>
      </ion-avatar>
      <ion-label>
        <ion-card-title>Hola, {{profileUser.nick}}</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-label>
    </ion-item>
  </ion-card>
  <!-- <ion-item-divider></ion-item-divider> -->

  <ion-card>
    <ion-button expand="block" (click)="openFavRoutes()"> Favoritas</ion-button>
  </ion-card>
  <ion-card>
    <ion-button expand="block" (click)="openEventsJoined()">
      Eventos pendientes</ion-button
    >
  </ion-card>
  <ion-card>
    <ion-button expand="block" (click)="openMessages()">
      Mis mensajes</ion-button
    >
  </ion-card>
  <ion-item-divider></ion-item-divider>

  <ion-card *ngIf="userStats" class="stats">
    <ion-title class="title">Estadisticas de uso</ion-title>
    <ion-item>
      <ion-icon name="bicycle-outline" slot="start" class="icon"></ion-icon>
      <ion-label>Rutas creadas: {{userStats?.totalRoutes}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="today-outline" slot="start" class="icon"></ion-icon>
      <ion-label>Eventos creados: {{userStats?.totalEvents}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start" class="icon"></ion-icon>
      <ion-label>Comentarios: {{userStats?.totalComments}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon
        name="calendar-number-outline"
        slot="start"
        class="icon"
      ></ion-icon>
      <ion-label
        >Eventos pendientes: {{userStats?.totalEventsJoined}}</ion-label
      >
    </ion-item>
  </ion-card>

  <ion-button
    (click)="onClick()"
    expand="block"
    fill="clear"
    shape="round"
    color="danger"
  >
    Cerrar Sesión
  </ion-button>
</ion-content>
<!-- (click)="deleteAccount(profileUser.id)" -->
